Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: languages-csharp-AppEncryption, languages-csharp-Logging, languages-csharp-SecureMemory, languages-java-app-encryption, languages-java-secure-memory

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      #languages-csharp-AppEncryption:
      #  flags: languages-csharp-AppEncryption
      #  target: 90%
      #languages-csharp-Logging:
      #  flags: languages-csharp-Logging
      #  target: 90%
      #languages-csharp-SecureMemory:
      #  flags: languages-csharp-SecureMemory
      #  target: 90%
      languages-java-app-encryption:
        flags: languages-java-app-encryption
        target: 90%
      languages-java-secure-memory:
        target: 90%
        flags: languages-java-secure-memory
flags:
  languages-csharp-AppEncryption:
    paths:
      - languages/csharp/AppEncryption
  languages-csharp-Logging:
    paths:
      - languages/csharp/Logging
  languages-csharp-SecureMemory:
    paths:
      - languages/csharp/SecureMemory
  languages-java-app-encryption:
    paths:
      - languages/java/app-encryption
  languages-java-secure-memory:
    paths:
      - languages/java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - languages/java/secure-memory/src/main/com/godaddy/securememory/protectedmemoryimpl/macos/*

Move all constants to Constants.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
Due: languages-csharp-AppEncryption

update codecov orb version
  .circleci/config.yml
Due: none

codecov flags apparently doesn't like hyphens
  .circleci/config.yml
  .codecov.yml
Due: none

try to fix codecov macos ignore path
  .codecov.yml
Due: none

really try to fix codecov ignore path
  .codecov.yml
Due: none

fixed another bug in ignore path and try to glob
  .codecov.yml
Due: none

Remove unused import
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/config.yaml
Due: languages-csharp-AppEncryption

add more badge flair
  README.md
Due: none

testing minor badge change
  README.md
Due: none

minor fix in badge change
  README.md
Due: none

braindump remaining work for project diff handling
  .circleci/config.yml
Due: none

Update to run with AWS KMS
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
Due: languages-csharp-AppEncryption

Fix indentation and line length
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/AppEncryptionByteMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/AppEncryptionJsonMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiPartitionMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionBytesTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionJsonTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/CacheMock.cs
Due: languages-csharp-AppEncryption

Fix namespace
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigCollection.cs
Due: languages-csharp-AppEncryption

Misc. cleanup
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
Due: languages-csharp-AppEncryption

Remove unused import Change defalut metastore to memory
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/AppEncryptionByteMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/config.yaml
Due: languages-csharp-AppEncryption

Misc fixes
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
Due: languages-csharp-AppEncryption

Changes as per review comments
  languages/csharp/AppEncryption/AppEncryption/Persistence/AdoMetastorePersistenceImpl.cs
Due: languages-csharp-AppEncryption

minor cleanup in circleci/codecov configs
  .circleci/config.yml
  .codecov.yml
Due: none

checkpoint of CircleCI and Codecov infra (#90)
  .circleci/config.yml
  .codecov.yml
  README.md
  languages/java/secure-memory/README.md
  project-dirs
Due: languages-java-secure-memory

Deadlock bug fix (#45)
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastorePersistenceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/AdoMetastorePersistenceImpl.cs
Due: languages-csharp-AppEncryption

Update as per review comments
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/config.yaml
  languages/csharp/AppEncryption/README.md
Due: languages-csharp-AppEncryption

checkpoint commit of circleci diff detection logic
  .circleci/config.yml
Due: none

- Add default metastore and kms values in the config file - Create MetastoreMemory and MetastoreMemory contants and reference them for default values
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/config.yaml
Due: languages-csharp-AppEncryption

preparing local patch for compare-url orb fix
  .circleci/config.yml
Due: none

WIP : Trying to trigger a C# logging build
  .circleci/config.yml
Due: none

Add code coverage for Logging
  .circleci/config.yml
  .codecov.yml
  languages/csharp/AppEncryption/scripts/test.sh
Due: languages-csharp-AppEncryption

Test build for code coverage
  .circleci/config.yml
Due: none

Change coverage o/p format to opencover
  languages/csharp/Logging/scripts/test.sh
Due: languages-csharp-Logging

revert test and fix misc bugs in circleci config
  .circleci/config.yml
Due: none

Change code coverage o/p format to opencover for all projects
  .circleci/config.yml
  .codecov.yml
  languages/csharp/SecureMemory/scripts/test.sh
Due: languages-csharp-SecureMemory

WIP : Trying globs
  .circleci/config.yml
Due: none

Issue #58: Enable config parameters (#70)
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigCollection.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/AppEncryptionByteMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/AppEncryptionJsonMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiFactoryThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiPartitionMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionBytesTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionJsonTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTestData.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/CacheMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/SessionFactoryGenerator.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/config.yaml
  languages/csharp/AppEncryption/README.md
Due: languages-csharp-AppEncryption

Generate checksum for multiple files Csharp generates and maintains multiple project files. We needed a workaround to add all those while maintaining a cache.
  .circleci/config.yml
  languages/csharp/checksum.sh
Due: none

Fix yaml config
  .circleci/config.yml
Due: none

add remaining java projects to circleci
  .circleci/config.yml
Due: none

uprev maven cache. looks like it got corrupted by nuget cache
  .circleci/config.yml
Due: none

Change location of checksum.sh file Add reference to the original repo Modified configuration to generate test results in dotnet
  .circleci/config.yml
  languages/csharp/Logging/scripts/test.sh
  scripts/checksum.sh
Due: languages-csharp-Logging

WIP : Correct typo
  .circleci/config.yml
Due: none
